version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: credit_scoring_backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: credit_scoring_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000/score
    restart: always
